.container {
  margin-left: 0.5em;
  margin-right: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number {
  color: #FF0043;
  font-family: 'Lcd';
  font-size: 1em;
  text-shadow: 0 0 0.25em #FF0043, 0 0 0.05em #FF0043;
}

.unit {
  color: #FF0043;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.25em;
  margin-top: -0.5em;
  text-transform: uppercase;
}
