:global html { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

:global body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: url('../static/images/bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Lcd';
  src: url('../static/fonts/lcd.ttf');
}
